<Configuration status="WARN">
    
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="rolling-file" fileName="./logs/rolling.log" filePattern="$${date:yyyy-MM}/Program-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ABSOLUTE} [%t] %-5p %c{1} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="rolling-file"/>
    </Root>
  </Loggers>
</Configuration>